QProgressBar {
  background-color: $black1;
  border-radius: 0;

  &:horizontal {
    background-color: $black-alpha-30;
    border: 1px solid $white-alpha-10;
  }

  &::chunk:horizontal {
    background: $white1;
    width: 1px;
  }
}