QScrollBar {
  background: $black-alpha-20;

  &:horizontal {
    height: 8px;
  }

  &:vertical {
    width: 8px;
  }

  &::handle {
    background: $black6;

    &:hover {
      background: $primary;
    }
  }

  &::add-line,
  &::sub-line {
    background: transparent;
    height: 8px;
    width: 8px;
  }

  &::add-page,
  &::sub-page {
    background: transparent;
  }
}
