QTabBar {
  &::tab {
    background: $background1;
    border-bottom: 2px solid transparent;
    border-right: 1px solid $black6;
    box-sizing: border-box;
    color: $gray3;
    height: $tabs-bar-height;
    overflow: hidden;
    padding: 0 10px;
    width: 150px;
    white-space: nowrap;

    &:selected {
      background: $background0;
      color: $white1;
    }

    &::hover {
      color: $primary;
    }
  }
}

QTabWidget {
  &::pane {
    background: $background0;
    border: none;
  }
}