QTableWidget {
  background: $background1;
  border: 1px solid $black-alpha-20;
  color: $primary;
  font-size: 12px;
  margin: 0;
  outline: 0;

  &::item {
    padding: 0;

    &::selected {
      background: $primary;
      color: $background1;
    }
  }

  QTableCornerButton::section {
    background: $black-alpha-20;
  }
}