QTreeWidget {
  background: $background1;
  border: none;
  color: $primary;
  outline: 0;

  &::item {
    padding: 0;

    &:hover {
      background: $black-alpha-20;
    }

    &::selected {
      &:active {
        background: $primary;
        color: $background1;
      }

      &:_qnot_active {
        background: $white-alpha-50;
        color: $background0;
      }
    }
  }
}