EveAssistantQMainWindow {
  background: #282828;
  min-height: 480px;
  min-width: 640px; }

QHeaderView {
  background: rgba(0, 0, 0, 20%);
  color: rgba(255, 255, 255, 50%); }
  QHeaderView::section {
    background: transparent;
    height: 20px;
    font-size: 12px;
    padding: 0 16px; }

QLabel {
  white-space: pre-wrap; }

QProgressBar {
  background-color: #0a0a0a;
  border-radius: 0; }
  QProgressBar:horizontal {
    background-color: rgba(0, 0, 0, 30%);
    border: 1px solid rgba(255, 255, 255, 10%); }
  QProgressBar::chunk:horizontal {
    background: gainsboro;
    width: 1px; }

QScrollBar {
  background: rgba(0, 0, 0, 20%); }
  QScrollBar:horizontal {
    height: 8px; }
  QScrollBar:vertical {
    width: 8px; }
  QScrollBar::handle {
    background: #3c3c3c; }
    QScrollBar::handle:hover {
      background: gainsboro; }
  QScrollBar::add-line, QScrollBar::sub-line {
    background: transparent;
    height: 8px;
    width: 8px; }
  QScrollBar::add-page, QScrollBar::sub-page {
    background: transparent; }

QTabBar::tab {
  background: #282828;
  border-bottom: 2px solid transparent;
  border-right: 1px solid #3c3c3c;
  box-sizing: border-box;
  color: #8c8c8c;
  height: 30px;
  overflow: hidden;
  padding: 0 10px;
  width: 150px;
  white-space: nowrap; }
  QTabBar::tab:selected {
    background: #141414;
    color: gainsboro; }
  QTabBar::tab::hover {
    color: gainsboro; }

QTabWidget::pane {
  background: #141414;
  border: none; }

QTableWidget {
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 20%);
  color: gainsboro;
  font-size: 12px;
  margin: 0;
  outline: 0; }
  QTableWidget::item {
    padding: 0; }
    QTableWidget::item::selected {
      background: gainsboro;
      color: #282828; }
  QTableWidget QTableCornerButton::section {
    background: rgba(0, 0, 0, 20%); }

QTreeWidget {
  background: #282828;
  border: none;
  color: gainsboro;
  outline: 0; }
  QTreeWidget::item {
    padding: 0; }
    QTreeWidget::item:hover {
      background: rgba(0, 0, 0, 20%); }
    QTreeWidget::item::selected:active {
      background: gainsboro;
      color: #282828; }
    QTreeWidget::item::selected:!active {
      background: rgba(255, 255, 255, 50%);
      color: #141414; }

QWidget:not(QMainWindow) {
  background: #141414; }

* {
  font-size: 14px; }
