$background0:     $black2;
$background1:     $black4;

$primary:         $white1;
$secondary:       $gray4;

$font-size-xs:    10px;
$font-size-s:     12px;
$font-size-m:     14px;
$font-size-l:     16px;
$font-size-xl:    22px;

$tabs-bar-height: 30px;